[pull]
  rebase = true
[push]
  default = upstream
[merge]
  tool = vimdiff
[color]
  diff = auto
  status = auto
  branch = auto
[alias]
  ci = commit
  co = checkout
  cp = cherry-pick
  st = status
  s  = status
  su = submodule update
  br = branch
  b  = branch
  d  = diff
  ds = diff --staged
  ln = log --name-status
  l  = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit
  la = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit --all --graph
  rsh = reset --soft HEAD^
  rim = rebase -i master
[user]
	name = Steve Pikelny
	email = pikelnys@nextcapital.com
